* {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: 'TT Lakes', sans-serif;
}

.menu {
  width: 320px;
  height: 1024px;
  box-shadow: 
      -2px 0px 4px rgba(69, 79, 126, 0.02), 
      16px 0px 52px rgba(14, 24, 80, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

.menu-header {
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 272px;
  height: 87px;
}

.menu-header__logo {
  margin-left: 16px;
  margin-right: 78px;
}

.menu-header__logo-item {
  display: block;
  height: 51px;
  width: 97px;

  background-image: url("../img/logo.png");
  background-size: 97px 51px;
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.menu-header__logo-item:hover {
  opacity: 0.7;
}

.menu-header__button {
  margin-right: 0;
  padding: 0;

  width: 40px;
  height: 40px;

  border: none;
  background: none;
  cursor: pointer;
}

.menu-header__button-close {
  background-image: url("../img/close.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu-header__button-search {
  background-image: url("../img/search.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu-header__button:hover {
  opacity: 0.7;
}

.menu-nav {
  height: 466px;
}

.menu-nav__item-container {
  padding-left: 24px;
  padding-top: 32px;
  
  position: relative;
}

.menu-nav__item {
  margin-right: auto;
  display: block;
  text-decoration: none;
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;

  color: #1b1c21;
}

.menu-nav__item:hover {
  color: #7e7e82;
}

.menu-nav__item--active {
  color: #7e7e82;
}

.menu-nav__item--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;

  margin: auto;

  height: 32px;

  border-right: 4px solid #41f6d7;
  border-radius: 4px;
}

.menu-nav__item:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 29px;

  margin: auto;

  height: 32px;

  border-right: 4px solid #41f6d7;
  border-radius: 4px;
}

.menu-footer {
  margin-top: 268px;
  margin-left: 8px;
}

.menu-footer__button {
  margin-left: 16px;
  padding: 0;

  width: 40px;
  height: 40px;

  border: none;
  background: none;
  cursor: pointer;
}

.menu-footer__button:hover {
  opacity: 0.7;
}

.menu-footer__button-call {
  background-image: url("../img/call.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu-footer__button-chat {
  background-image: url("../img/chat.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu-footer__button-profile {
  background-image: url("../img/profile.svg");
  background-size: 40px;
  background-repeat: no-repeat;
}

.menu-contacts__email {
  margin: 16px 0 0 16px;
}

.menu-contacts__email-item {
  text-decoration: none;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  cursor: pointer;
}

.menu-contacts__email-item:hover {
  opacity: 0.7;
}

.menu-contacts__phone {
  margin: 12px 0 0 16px;
}

.menu-contacts__phone-item {
  text-decoration: none;
  font-family: "TT Lakes";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;
  color: #1b1c21;
  cursor: pointer;
}

.menu-contacts__phone-item:hover {
  opacity: 0.7;
}

.menu-lang {
  margin: 40px 0 0 16px;
}

.menu-lang__button {
  padding: 0;
  border: none;
  background: none;
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: 24px;

  margin-right: 7px;

  color: #1b1c21;
  cursor: pointer;
}

.menu-lang__button:hover {
  color: #7e7e82;
}

.menu-lang__button--active {
  color: #7e7e82;
}
